@model IEnumerable<NextwoFinalApp2023.Models.Instructor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedIn)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedIn)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.InstructorId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InstructorId" class="btn btn-danger">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InstructorId" class="btn btn-warning">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
