@model IEnumerable<NextwoFinalApp2023.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderSubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TxtBtn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlBtn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderSubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TxtBtn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlBtn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SliderId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SliderId" class="btn btn-danger">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SliderId" class="btn btn-warning">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
